.sidebar {
  width: 15%;
  position: fixed;
  min-width:75px;
  height: 100vh;
  border-right: 2px solid #0e0d0d;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 1rem;
}

