.sidebar-title {
  font-weight: bold;
  padding: 10px 0;
  margin-top: 10px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #110d0d;
  border-radius: 50%;
}

.all {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #110d0d;
  border-radius: 50%;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .all {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .all {
  background-color: #2196f3;
}

.all:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .all:after {
  display: block;
}

.sidebar-label-container .all:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}